/.AbusoDeHabilidad.java._trace
/.AbusoDelSistemaDeDenuncias.java._trace
/.ComunicacionAbusiva.java._trace
/.Denuncia.java._trace
/.Derrota.java._trace
/.Descripcion.java._trace
/.Desempenio.java._trace
/.Duelo.java._trace
/.Empatados.java._trace
/.Empate.java._trace
/.EstadisticasPersonajes.java._trace
/.FeedIntencional.java._trace
/.Ganador.java._trace
/.Jugador.java._trace
/.Motivo.java._trace
/.Perdedor.java._trace
/.Personaje.java._trace
/.Ranking.java._trace
/.Resultado.java._trace
/.Retador.java._trace
/.Sistema.java._trace
/.Ubicacion.java._trace
/.Victoria.java._trace
